<ion-toolbar>
  <ion-title>settings</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="modalCtrl.dismiss()">
      <ion-icon name="close-circle-outline">

      </ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-list>



    <ion-item>

      <ion-input (ionChange)="bookService.getBooks()" label="Results per page" labelPlacement="floating" type="number" [formControl]="formService.searchBooksPreferencesFormData.pageSize">

      </ion-input>
    </ion-item>
    <div *ngIf="formService.searchBooksPreferencesFormData.pageSize.invalid">Must be at least 1</div>
  </ion-list>


</ion-content>
<ion-searchbar [formControl]="formService.searchBooksPreferencesFormData.bookSearchTerm" (ionChange)="bookService.getBooks()"></ion-searchbar>
