<ion-card style="   flex: 0 0 auto;">
  <ion-toolbar color="transparent">
    {{book.title}}
    <ion-item slot="end" lines="none">
      <ion-button fill="outline" color="secondary" (click)="navigateToBook(book.bookId)">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
  <ion-card-subtitle *ngIf="book.authors && book.authors!.length>0 && book.authors![0]!=null">by
    <span *ngFor="let namesOfTheBooksAuthors of book.authors">{{namesOfTheBooksAuthors}}</span>
  </ion-card-subtitle>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains"
               src="{{book.coverImgUrl || 'https://ionicframework.com/docs/img/demos/thumbnail.svg'}}"/>
        </ion-thumbnail>
        <reading-list-button [book]="book"></reading-list-button>

      </ion-item>

      <ion-item>

        <ion-label>Item</ion-label>
      </ion-item>

      <ion-item>

        <ion-label>Item</ion-label>
      </ion-item>


    </ion-list>
  </ion-card-content>
</ion-card>
